.card-container{
    width: 300px;
    height: auto;
    
    border-radius: 5px;
    box-shadow: 1px 1px 2px 4px rgb(249, 244, 244);
    color: #1c1c1c;
    transition: 0.3s;
   
}
.card-area{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.card-area>h1{
    font-size: 19px;
    font-weight: 700;
    padding-top: 20px;
    text-align: center;

}
.card-container:hover{
    transform: scale(1.04);
}
.card-content{
    margin-top: 30px;
    padding-left: 20px;
}
.card-content>p{
    font-weight: 500;
    font-size: 17px;
    opacity: 0.8;
}

.price{
    /* color: rgba(231, 54, 31, 0.987); */
    font-weight: 700;
}
.stock{
    color: rgba(38, 150, 18, 0.987);
    font-weight: 700;
}

.btn{
    margin-top: 20px;
    width: 300px;

}